<div class="text-center group mb-[30px]">
    <div class="relative z-[1] rounded-[6px_6px_0px_0px]">
        <a href="agent-details.html" class="block relative before:absolute before:content-[''] before:inset-x-0 before:bottom-0 before:bg-[#016450] before:w-full before:h-[calc(100%_-_30px)] before:z-[-1] before:rounded-[6px_6px_0px_0px]">
            <img src="assets/images/team/sm/person@@image.png" class="max-w-[130px] max-h-[154px] object-contain block mx-auto" loading="lazy" width="130" height="154" alt="@@title">
        </a>
    </div>
    
    <div class="bg-[#FFFDFC] drop-shadow-[0px_2px_15px_rgba(0,0,0,0.1)] rounded-[0px_0px_6px_6px] px-[15px] pt-[5px] pb-[15px] border-b-[6px] border-primary transition-all duration-700 group-hover:border-secondary">
        <h3><a href="agent-details.html" class="font-recoleta text-[14px] text-primary hover:text-secondary">@@title</a></h3>
        <p class="font-light text-[12px] leading-none capitalize mt-[5px]">@@type</p>
    </div>
</div>