<div class="swiper-slide text-center">
    <div class="relative group">
        <a href="agency-details.html" class="block">
            <img src="assets/images/cities/image@@image.png" class="w-full h-full block mx-auto rounded-[6px]" loading="lazy" width="270" height="380" alt="@@title">
            <div class="bg-[rgb(255,253,252,0.8)] rounded-[6px] px-[5px] py-[15px] absolute bottom-[25px] left-[25px] right-[25px]">
                <span class="font-recoleta font-normal text-[18px] text-primary group-hover:text-secondary transition-all leading-none">@@title</span>
                <p class="font-light text-[14px] capitalize text-secondary group-hover:text-primary transition-all leading-none">@@type</p>
            </div>
        </a>
    </div>
</div>
