<div class="swiper-slide text-center">
    <div class="relative group">
        <a href="agency-details.html" class="block">
            <img src="assets/images/cities/cities@@image.png" class="w-full h-full block mx-auto rounded-[6px_6px_0px_0px]" loading="lazy" width="270" height="290" alt="@@title">
            <div class="cities-shadow bg-[#FFFDFC] rounded-[0px_0px_6px_6px] px-[15px] py-[20px]">
                <span class="font-recoleta font-normal text-[24px] xl:text-lg text-primary group-hover:text-secondary transition-all">@@title</span>
                <p class="font-light text-tiny capitalize text-secondary group-hover:text-primary transition-all">@@type</p>
            </div>
        </a>
    </div>
</div>