<div class="swiper-slide">
    <div class="bg-[#F5F9F8] flex flex-wrap items-center p-[15px] rounded-t-[6px]">
        <a href="#" class="block mr-[20px]">
            <img src="assets/images/latest-properties/properties@@image.jpg" class="w-full h-full rounded-[6px]" loading="lazy"
                width="160" height="106" alt="@@title">
        </a>
        <div class="flex-1">
            <h3><a href="#" class="font-recoleta leading-tight text-primary hover:text-secondary">@@title</a></h3>
            <p class="font-light text-[12px]">@@address</p>
            <span class="font-recoleta text-[14px] text-secondary">Price: @@price</span>
        </div>
    </div>
</div>