<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Bery-Real Estate Listing Template</title>
  <meta name="AdsBot-Google" content="noindex follow"/>
  <meta name="description" content="Bery-Real Estate Listing Template">
  <meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="@@webRoot/assets/images/favicon.png"/>

  <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

 <!--  <link rel="stylesheet" href="@@webRoot/assets/css/vendor/icofont.min.css" />
  <link rel="stylesheet" href="@@webRoot/assets/css/vendor/line-awesome.min.css"/>
  <link rel="stylesheet" href="@@webRoot/assets/css/vendor/simple-line-icons.css"/> -->
  <!-- Font CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS (Bootstrap & Icon Font) -->

  <!-- Plugins CSS (All Plugins Files) -->
  @@for (var i = 0; i < plugins.length; i++) {
  <link rel="stylesheet" href="assets/css/plugins/`+plugins[i]+`.css" />
  }

  <!-- Style CSS -->
  <link rel="stylesheet" href="@@webRoot/assets/css/style.css" />

</head>
