<section class="hero-section bg-white">
  <div class="hero-slider2 overflow-hidden">
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- swiper-slide start -->
        <div
          class="swiper-slide bg-no-repeat bg-left-bottom bg-sky-100 z-[1] relative before:absolute before:w-full before:h-full before:inset-0 before:content-[''] before:bg-[#000000] before:opacity-[75%] before:z-[-1] py-[80px] lg:py-[125px]"
          style="background-image: url('assets/images/hero/home-6.png');">
          <div class="container">
            <div class="grid grid-cols-12">
              <div class="col-span-12">
                <div class="slider-content">
                  <div class="relative mb-5 sub_title">
                    <span class="text-base text-white block">Luxury Home</span>
                  </div>
                  <h1
                    class="font-recoleta text-white text-[36px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl title">
                    <span>Patriot de Plaza</span>
                  </h1>

                  <p class="text-base text-white font-light underline text">
                    194 Mercer Street, 627 Broadway, New York
                  </p>
                  <span
                    class="text-white inline-block font-recoleta text-[28px] px-[20px] py-[12px] leading-none border-b-2 border-secondary bg-primary  mt-[40px] mb-[75px] hero_btn text-center">Price:
                    $255300</span>

                </div>
              </div>


              <div class="col-span-12 xl:col-span-10">
                <ul class="flex flex-wrap items-center sm:justify-between text-white mt-[-20px] mb-[10px] lg:mb-[60px]">

                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/home.png" width="33" height="33" alt="icon">
                    <span>2350 Sq.fit</span>
                  </li>


                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/bed.png" width="33" height="31" alt="icon">
                    <span>Bedrooms</span>
                  </li>

                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/bathroom.png" width="32" height="33" alt="icon">
                    <span>Bathroom</span>
                  </li>

                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/kitchen.png" width="31" height="31" alt="icon">
                    <span>2 Kitchen</span>
                  </li>

                  <li class="my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/garage.png" width="32" height="32" alt="icon">
                    <span>3 Garage</span>
                  </li>

                </ul>


                <a href="properties-details.html" class="text-white text-base underline capitalize hover:text-secondary">View Details</a>
              </div>

            </div>
          </div>
        </div>
        <!-- swiper-slide end-->
        <!-- swiper-slide start -->
        <div
          class="swiper-slide bg-no-repeat bg-left-bottom bg-sky-100 z-[1] relative before:absolute before:w-full before:h-full before:inset-0 before:content-[''] before:bg-[#000000] before:opacity-[75%] before:z-[-1] py-[80px] lg:py-[125px]"
          style="background-image: url('assets/images/hero/home-6.1.png');">
          <div class="container">
            <div class="grid grid-cols-12">
              <div class="col-span-12">
                <div class="slider-content">
                  <div class="relative mb-5 sub_title">
                    <span class="text-base text-white block">Luxury Home</span>
                  </div>
                  <h1
                    class="font-recoleta text-white text-[36px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl title">
                    <span>Patriot de villa</span>
                  </h1>

                  <p class="text-base text-white font-light underline text">
                    194 Mercer Street, 627 Broadway, New York
                  </p>
                  <span
                    class="text-white inline-block font-recoleta text-[28px] px-[20px] py-[12px] leading-none border-b-2 border-secondary bg-primary  mt-[40px] mb-[75px] hero_btn text-center">Price:
                    $255300</span>

                </div>
              </div>


              <div class="col-span-12 xl:col-span-10">
                <ul class="flex flex-wrap items-center sm:justify-between text-white mt-[-20px] mb-[10px] lg:mb-[60px]">

                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/home.png" width="33" height="33" alt="icon">
                    <span>2350 Sq.fit</span>
                  </li>


                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/bed.png" width="33" height="31" alt="icon">
                    <span>Bedrooms</span>
                  </li>

                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/bathroom.png" width="32" height="33" alt="icon">
                    <span>Bathroom</span>
                  </li>

                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/kitchen.png" width="31" height="31" alt="icon">
                    <span>2 Kitchen</span>
                  </li>

                  <li class="my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/garage.png" width="32" height="32" alt="icon">
                    <span>3 Garage</span>
                  </li>

                </ul>


                <a href="properties-details.html" class="text-white text-base underline capitalize hover:text-secondary">View Details</a>
              </div>

            </div>
          </div>
        </div>
        <!-- swiper-slide end-->
        <!-- swiper-slide start -->
        <div
          class="swiper-slide bg-no-repeat bg-left-bottom bg-sky-100 z-[1] relative before:absolute before:w-full before:h-full before:inset-0 before:content-[''] before:bg-[#000000] before:opacity-[75%] before:z-[-1] py-[80px] lg:py-[125px]"
          style="background-image: url('assets/images/hero/home-6.2.png');">
          <div class="container">
            <div class="grid grid-cols-12">
              <div class="col-span-12">
                <div class="slider-content">
                  <div class="relative mb-5 sub_title">
                    <span class="text-base text-white block">Luxury Home</span>
                  </div>
                  <h1
                    class="font-recoleta text-white text-[36px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl title">
                    <span>Patriot de Plaza</span>
                  </h1>

                  <p class="text-base text-white font-light underline text">
                    194 Mercer Street, 627 Broadway, New York
                  </p>
                  <span
                    class="text-white inline-block font-recoleta text-[28px] px-[20px] py-[12px] leading-none border-b-2 border-secondary bg-primary  mt-[40px] mb-[75px] hero_btn text-center">Price:
                    $255300</span>

                </div>
              </div>


              <div class="col-span-12 xl:col-span-10">
                <ul class="flex flex-wrap items-center sm:justify-between text-white mt-[-20px] mb-[10px] lg:mb-[60px]">

                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/home.png" width="33" height="33" alt="icon">
                    <span>2350 Sq.fit</span>
                  </li>


                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/bed.png" width="33" height="31" alt="icon">
                    <span>Bedrooms</span>
                  </li>

                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/bathroom.png" width="32" height="33" alt="icon">
                    <span>Bathroom</span>
                  </li>

                  <li class="pr-[30px] sm:pr-[35px] lg:pr-[70px] sm:border-r sm:border-[#E0E0E0] my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/kitchen.png" width="31" height="31" alt="icon">
                    <span>2 Kitchen</span>
                  </li>

                  <li class="my-[20px]">
                    <img class="mb-[15px]" src="assets/images/icon/garage.png" width="32" height="32" alt="icon">
                    <span>3 Garage</span>
                  </li>

                </ul>


                <a href="properties-details.html" class="text-white text-base underline capitalize hover:text-secondary">View Details</a>
              </div>

            </div>
          </div>
        </div>
        <!-- swiper-slide end-->

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination home-pagination-six hidden lg:flex flex-wrap flex-col items-end"></div>
    </div>
  </div>
</section>

