<section class="bg-[#FFF6F0] relative before:absolute before:inset-0 before:content-[''] before:bg-[#060606] before:opacity-[50%]">
  <div class="lg:h-[720px] xl:h-[830px]">
    <img class="w-full h-full min-h-[360px] md:min-h-[540px] object-cover" src="assets/images/hero/home-3.jpg" alt="hero image">
    <div class="absolute right-0 left-0 lg:top-[110px] xl:top-[155px] top-[50%] -translate-y-1/2 lg:translate-y-0">
        <div class="container">
            <div class="grid grid-cols-12">
              <div class="col-span-12">
                <div class="lg:max-w-[500px] xl:max-w-[600px] text-center ml-auto mr-auto lg:mb-[75px]">
                    <span class="text-base text-white block mb-5">A new way to find Properties</span>
                    <h1 class="font-recoleta text-white text-[36px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl title">
                      Search and Find  Luxury Homes</h1>
                </div>
              </div>
            </div>
          </div>
    </div>
    
  </div>
</section>