<section
  class="bg-[#FFFFFF] relative before:absolute before:w-1/2 lg:before:w-[calc(50%_-_35px)] xl:before:w-[calc(50%_-_65px)] before:h-full before:top-0 before:right-0 before:content-[''] before:bg-[#ECFAF7] pt-[130px] lg:pt-[80px] xl:pt-[0px] mb-[70px] lg:mb-[0px]">
  <div class="hero-slider overflow-hidden">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- swiper-slide start -->
        <div class="swiper-slide lg:h-[700px] xl:h-[950px] xs:h-[auto] flex flex-wrap items-center">
          <div class="container">
            <div class="grid grid-cols-12">
              <div class="col-span-12 lg:col-span-5 xl:col-span-6">
                <div class="slider-content max-w-[560px]">
                  <div class="relative mb-5 sub_title">
                    <span class="text-base text-secondary block">A new way to find Properties</span>
                  </div>
                  <h1
                    class="font-recoleta text-primary text-[36px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl title">
                    <span>Modern, Creative & Luxury Homes</span>
                  </h1>

                  <p class="text-base text-[#494949] mt-5 mb-8 text max-w-[570px]">
                    Huge number of propreties availabe here for buy, and sell, also you
                    can find here co-living property, So you have lots of opportunity
                  </p>
                  <div class="inline-block mb-[60px] hero_btn">
                    <a href="contact-us.html"
                      class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[20px] py-[15px] capitalize font-medium text-white text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all block">Contact
                      us</a>
                  </div>
                  @@include('counterup/index.html')
                </div>
              </div>
              <div class="col-span-12 lg:col-span-7 xl:col-span-6">
                <div class="relative mt-10 md:mt-0 lg:absolute lg:right-0 lg:bottom-0">
                  <img class="hero_image lg:max-w-[550px] xl:max-w-[650px] 2xl:max-w-[750px] 3xl:max-w-[866px]" src="assets/images/hero/hernan-lucio.png" width="866" height="879"
                    alt="hero image">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- swiper-slide end-->
        <!-- swiper-slide start -->
        <div class="swiper-slide lg:h-[700px] xl:h-[950px] xs:h-[auto] flex flex-wrap items-center">
          <div class="container">
            <div class="grid grid-cols-12">
              <div class="col-span-12 lg:col-span-5 xl:col-span-6">
                <div class="slider-content max-w-[560px]">
                  <div class="relative mb-5 sub_title">
                    <span class="text-base text-secondary block">A new way to find Properties</span>
                  </div>
                  <h1
                    class="font-recoleta text-primary text-[36px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl title">
                    <span>Modern, Creative & Luxury Homes</span>
                  </h1>

                  <p class="text-base text-[#494949] mt-5 mb-8 text">
                    Huge number of propreties availabe here for buy, and sell, also you
                    can find here co-living property, So you have lots of opportunity
                  </p>
                  <div class="inline-block mb-[60px] hero_btn">
                    <a href="contact-us.html"
                      class="before:rounded-md before:block before:absolute before:left-auto before:right-0 before:inset-y-0 before:-z-[1] before:bg-secondary before:w-0 hover:before:w-full hover:before:left-0 hover:before:right-auto before:transition-all leading-none px-[20px] py-[15px] capitalize font-medium text-white text-[14px] xl:text-[16px] relative after:block after:absolute after:inset-0 after:-z-[2] after:bg-primary after:rounded-md after:transition-all block">Contact
                      us</a>
                  </div>
                  @@include('counterup/index.html')
                </div>
              </div>
              <div class="col-span-12 lg:col-span-7 xl:col-span-6">
                <div class="relative mt-10 md:mt-0 lg:absolute lg:right-0 lg:bottom-0">
                  <img class="hero_image lg:max-w-[550px] xl:max-w-[650px] 2xl:max-w-[750px] 3xl:max-w-[866px]" src="assets/images/hero/home-2.png" width="906" height="950"
                    alt="hero image">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- swiper-slide end-->
      </div>
    </div>

  </div>

</section>