<ul class="flex flex-wrap list-none">
    <li class="block">
        <span class="font-recoleta text-secondary text-lg"><span class="counter-up">20</span> <span>k+</span></span>
        <p>Properties</p>
    </li>
    <li class="block pl-[40px] md:pl-[60px]">
        <span class="font-recoleta text-secondary text-lg"><span class="counter-up">12</span> <span>k+</span></span>
        <p>Customers</p>
    </li>
    <li class="block pl-[40px] md:pl-[60px]">
        <span class="font-recoleta text-secondary text-lg"><span class="counter-up">160</span>
            <span>+</span></span>
        <p>Awards Win</p>
    </li>
</ul>