<ul class="flex flex-wrap list-none">
    <li class="block">
        <span class="font-recoleta text-secondary text-lg"><span>20</span> <span>k+</span></span>
        <p>Properties</p>
    </li>
    <li class="block pl-[25px] sm:pl-[40px] md:pl-[60px]">
        <span class="font-recoleta text-secondary text-lg"><span>12</span> <span>k+</span></span>
        <p>Customers</p>
    </li>
    <li class="block pl-[25px] sm:pl-[40px] md:pl-[60px]">
        <span class="font-recoleta text-secondary text-lg"><span>160</span> <span>+</span></span>
        <p>Awards Win</p>
    </li>
</ul>