<div class="post-item">
    <a href="blog-details.html" class="block overflow-hidden rounded-[6px] mb-[35px]">
        <img class="w-full h-full" src="assets/images/blog-post/post@@image.png" width="370" height="270" loading="lazy" alt="@@title">
    </a>
    <div>
        <span class="block leading-none font-normal text-[14px] text-secondary mb-[5px] relative before:absolute before:left-0 before:top-1/2 -translate-y-1/2 before:bg-secondary before:content-[''] before:w-[3px] before:h-[3px] before:rounded-full pl-[10px]">@@postmeta</span>
        <h3><a href="blog-details.html" class="font-recoleta text-[22px] xl:text-[27px] leading-[1.285] text-primary block mb-[10px] hover:text-secondary transition-all">@@title</a></h3>
        <p class="font-light text-[#494949] text-[16px] leading-[1.75]">Properties are most budget friendly so you have are opportunity to find are the best the best...</p>
    </div>
</div>
